*{
  text-decoration: none;
}
.active{
  background: #000;
}
.alert{
  display: flex;
  flex-wrap: wrap;
  padding: 16px 16px;
  margin: 4px;
  border-radius: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.error{
  background-color: #f44336;
  color: white;
}
.ok{
  background-color: lawngreen;
  color: black;
}